<div class="container" style="color:#069; text-align: center;">
    <br>
    <label>
        <h2><%= player.username %></h2><h4> Score!!! = <%= player.totalscore %></h4>
    </label> 
</div>
<div class="container">
    <% for (let i in player.knockout) { %> 
        <% if (player.knockout[i].name === 'Round of 16') { %> 
            <h4><%= player.knockout[i].name %></h4>  
            <table class="table table-secondary">
            <thead>
                <tr>
                    <th scope="col" class="text-right">HOME</th> 
                    <th scope="col" class="text-center">VS</th> 
                    <th scope="col" class="text-left">AWAY</th> 
                    <th scope="col" class="text-center">SCORE</th> 
                </tr>
            </thead>
            <tbody>
                    <% player.knockout[i].matches.forEach(match => { %>
                        <tr>
                            <td scope="row" class="text-right">
                                <img src=<%= teams.filter(teams => teams.id === match.home_team)[0].flag %>  width="40" height="30"> 
                                <%= teams.filter(teams => teams.id === match.home_team)[0].name %>
                                <input type="number" class="number" min="0" max="99" required readonly value=<%= match.home_result%>> </td> 
                            <td scope="row" class="text-center"> VS </td> 
                            <td scope="row" class="text-left">
                                <input type="number" class="number" min="0" max="99" required readonly value=<%= match.away_result%>>
                                <%= teams.filter(teams => teams.id === match.away_team)[0].name %> 
                                <img src=<%= teams.filter(teams => teams.id === match.away_team)[0].flag %> width="40" height="30"> </td> 
                            <td scope="row" class="text-center"> <%= match.score%> </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    <% } %>
</div>
    